body {
    font: 14px sans-serif;
}

.custom-mapping {
    width: 800px;
    margin: 0 auto;
}

.outlined {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
}

.form-label {
    margin: 4px;
}

.form-input {
    margin: 4px;
}

.form-button {
    margin: 4px;
}

.form-select {
    margin: 4px;
}

ul {
    padding: 0;
    margin: 4px;
}

li {
    display: block;
    margin: 2px 0px;
}

.delete-button {
    padding: 0;
}

.delete-button-float-right {
    display: block;
    float: right;
}

h3 {
    margin: 4px;
}